<nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark" id="navbar">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="https://www.thecocktaildb.com/images/logo.png" alt="Logo" height="20" width="125">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto d-flex ms-5" style="width: 100%;">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">I nostri drink</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Contatti</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<router-outlet></router-outlet>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->