h2 {
    font-size: 30px;
}

ul {
    margin-top: 30px;
    font-size: 25px;
    columns: 2;
    column-gap: 40px;
}

h2 {
    font-weight: 400;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
